
      header {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}


      nav {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
             list-style-type: none;
}

#navigation li{
  list-style-type: none;
}

      div {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

.row {
  content: "";
  display: table;
  clear: both;
  width 100%;
  padding: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.column {
  padding: 10px;
  float: left;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

      body {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

      footer {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}
