
      header {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}


      container {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

      div {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}
      body {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

      footer {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}
