
      header {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}


      nav {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
             list-style-type: none;
}

#navigation li{
  list-style-type: none;
}

      div {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

.row {
  content: "";
  display: table;
  clear: both;
  width 100%;
  padding: 0 6px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 6px;
  display: flex;
  flex-wrap: wrap;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

      body {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}

      footer {
             background-color: #f6eee9;
             font-family: "Arial", Arial, sans-serif;
             padding-top: 50px;
             padding-right: 100px;
             padding-bottom: 50px;
             padding-left: 100px;
}
